h1 {
    font-size: 100px;
}
h2 {
    font-size: 75px;
}

li {
    font-size: 70px;
}

p {
    font-size: 60px;
}
@media (max-width:500px) {
    #app {
        display:grid 
    }
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 45px;
    }
    
    li {
        font-size: 40px;
    }
    
    p {
        font-size: 35px;
    }
}

@media (max-width:800px) {
    #app {
        display:grid 
    }
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 60px;
    }
    
    li {
        font-size: 55px;
    }
    
    p {
        font-size: 50px;
    }
}