* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("Delicate.jpg")
}

#animation {
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 35px;
    background: #222;
    color: #aaa
}

ul .navbar a
{
    color: black;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

ul .navbar a:hover
{
    color:silver;
}

h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
    color: #888;
    font-size: 2em;
}

#app {
    display: grid;
    font-size: 8em;
    text-align: center;
    height: 100vh;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas:
    "navbar navbar navbar navbar navbar"
    "pic-01 pic-02 pic-03 pic-04 pic-05"
    "pic-06 pic-07 pic-08 pic-09 pic-10"
    "pic-11 pic-12 pic-13 pic-14 pic-15"
    "footie footie footie footie footie"
    ;
}

img {
    height: 100%;
    width: 100%;
}

.picture {
    border: black solid;
}

#header {
    font-family: sans-serif;
}

footer, p {
    font-family: 'Roboto Mono', monospace;
    font-size: 100px;
    color:black;
}

#picture-one {
    /* background-color: lightblue; */
    grid-area: pic-01;
    /* border: salmon; */
}

#picture-two {
    /* background-color: lightblue; */
    grid-area: pic-02;

}

#picture-three {
    /* background-color: #6a8d92; */
    grid-area: pic-03;
}

#picture-four {
    /* background-color: #f3ca40; */
    grid-area: pic-04;
}

#picture-five {
    /* background-color: #4b4e6d; */
    grid-area: pic-05;

}

#picture-six {
    /* background-color: #6a8d92; */
    grid-area: pic-06;
}

#picture-seven {
    /* background-color: #f3ca40; */
    grid-area: pic-07;
}

#picture-eight {
    /* background-color: #4b4e6d; */
    grid-area: pic-08;

}

#picture-nine {
    /* background-color: #6a8d92; */
    grid-area: pic-09;
}
    
#picture-ten {
    /* background-color: yellow; */
    grid-area: pic-10;
}

#picture-eleven {
    /* background-color: #f2a541; */
    grid-area: pic-11;
}

#picture-twelve {
    /* background-color: #4b4e6d; */
    grid-area: pic-12;

}

#picture-thirteen {
    /* background-color: #6a8d92; */
    grid-area: pic-13;
}
    
#picture-fourteen {
    /* background-color: yellow; */
    grid-area: pic-14;
}

#picture-fifteen {
    /* background-color: #f2a541; */
    grid-area: pic-15;
}

#animation {
    grid-area: animat;
}

#header {
    /* background-color:red; */
    grid-area: headie;
}

#footer {
    /* background-color: #f08a4b; */
    grid-area: footie;
}

#nav {
    /* background-color: pink; */
    grid-area: navbar;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: grid;
    grid-template-areas: 
    'home news cont abou'
    ;
}

#home {
    grid-area: home;
}
#news {
    grid-area: news;
}
#cont {
    grid-area: cont;
}

#about {
    grid-area: abou;
}

@media (max-width: 500px) {

    #animation {
        font-family: 'Raleway', sans-serif;
        padding: 1em 2em;
        font-size: 8px;
        background: #222;
        color: #aaa
    }

    #app {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-template-areas:
    "navbar navbar navbar"
    "pic-01 pic-02 pic-03"
    "pic-04 pic-05 pic-06"
    "pic-07 pic-08 pic-09"
    "pic-10 pic-11 pic-12"
    "pic-13 pic-14 pic-15"
    "footie footie footie";
    }
    footer, #p-foot{
        font-size: 0.4em;
    }
    #nav ul {
        font-size: 0.2em;
    }
}

@media (max-width: 800px) and (min-width: 600px){

    #animation {
        font-family: 'Raleway', sans-serif;
        padding: 1em 2em;
        font-size: 17px;
        background: #222;
        color: #aaa
    }

    #app {
        font-size: 5em;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(7,1fr);
        grid-template-areas:
        "navbar navbar navbar"
        "pic-01 pic-02 pic-03"
        "pic-04 pic-05 pic-06"
        "pic-07 pic-08 pic-09"
        "pic-10 pic-11 pic-12"
        "pic-13 pic-14 pic-15"
        "footie footie footie";
    }
    footer, #p-foot{
        font-size: 0.7em;
    }
    #nav ul {
        font-size: 0.5em;
    }
}
